.box {
  background-color: #f5f5f5;
  width: 575px;
  height: 575px;
  padding-top: 48px 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__container {
  width: 280px;
  height: 479px;
  border-radius: 40px;
  border-width: 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  gap: 10px;
}

.profile__img {
  width: 264px;
  height: 280px;
  opacity: 1;
  border-radius: 32px;
  border-width: 1.5px;
  padding-top: 8px;
}

.profile__name {
  width: auto;
  height: 33px;
  display: flex;
  gap: 8px;
  opacity: 1;
  align-items: center;
  padding-left: 20px;
}

.profile__checkIcon {
  width: 24px;
  height: 24px;
}

.profile__text {
  width: auto;
  height: 46px;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -2%;
  color: #767676;
  padding-left: 20px;
}

.profile__footer {
  width: auto;
  height: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 30px;
  padding-left: 20px;
}

.footer__icon {
  width: 61.5px;
  height: 18px;
  display: flex;
  gap: 4px;
}

.icon {
  width: 18px;
  height: 18px;
}

.button {
  width: 109px;
  height: 44px;
  padding: 11.5px 22px;
  border-radius: 32px;
  border: none;
  display: flex;
  gap: 4px;
  font-size: 16px;
}
